.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 80%;
  width: 100%;
  margin: 0 auto;

  padding: 15px;

  border: 3px solid var(--light-text);
  border-radius: 5px;
}
.form-group .form-icon {
  font-size: 14px;
  color: var(--light-gray);
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.form-group .form-icon img {
  height: 25px;
}
.form-group h3 {
  font-size: 26px;
  color: var(--medium-text);
  font-weight: 300;
  padding: 25px 0 15px 5px;
  border-bottom: 2px solid var(--light-text);
  width: 100%;
}
.form-group .radio-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0 10px;
  border-bottom: 2px solid var(--light-text);
  gap: 10px;
  position: relative;
  color: var(--medium-text);
  accent-color: var(--yellow);
}
.form-group .radio-wrapper span {
  position: absolute;
  right: 0;
  color: var(--medium-text);
}
.form-group .button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 20px;
  width: 100%;
}
.form-group .button-wrapper .btn {
  font-size: 16px;
  border-radius: 4px;
  color: var(--dark-gray);
  font-weight: 700;
  text-transform: uppercase;
  padding: 14px;
  width: 100%;
  border: none;
  cursor: pointer;
}
.form-group .button-wrapper .btn-primary {
  background-color: var(--yellow);
}
.form-group .button-wrapper .btn-secundary {
  background-color: transparent;
  border: 2px solid var(--light-text);
}
.form-group .checkbox-wrapper {
  color: var(--light-gray);
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}
.form-group .checkbox-wrapper input[type="checkbox"] {
  margin-right: 5px;
  accent-color: var(--yellow);
}
@media (min-width: 768px) {
  .form-group .button-wrapper {
    display: flex;
    flex-direction: row;
  }
  .form-group .button-wrapper .btn {
    width: 25%;
  }
  .form-group .checkbox-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
